/* 전체 페이지 스타일 */
/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  color: #fff; /* 글씨 색상을 하얀색(#fff)으로 변경 */
  background-color: #000; /* 배경 색상을 검은색(#000)으로 변경 */
  margin: 20px;
  padding: 0;
}

/* 네비게이션 스타일 */
#left {
  background-color: #fff;
  color: #000; /* 네비게이션 내용 글씨 색상을 검은색(#000)으로 변경 */
  padding: 20px;
  border-radius: 5px;
}

#right {
  background-color: #fff;
  color: #000; /* 네비게이션 내용 글씨 색상을 검은색(#000)으로 변경 */
  padding: 20px;
  border-radius: 5px;
}

/* 타이틀 스타일 */
#title {
  text-align: center;
  margin: 20px auto;
  border:5px white solid;
  border-radius: 10px;
  width: 200px;
}

h1 {
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: white;
}

/* 네비게이션 스타일 */
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

#left ol,
#right ol {
  padding-left: 20px;
  font-weight: bold;
}

#left ol li,
#right ol li {
  margin-bottom: 10px;
}

#left ol li a,
#right ol li u {
  color: #333;
  text-decoration: none;
}

#left ol li a:hover {
  text-decoration: underline;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
  #grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  #right img {
    width: 100%;
  }
}
