body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
  margin: 20px;
  padding: 0;
}

#title {
  text-align: center;
  margin: 20px auto;
  border: 5px white solid;
  border-radius: 10px;
  width: 200px;
}

h1 {
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: white;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.side {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}

ol {
  padding-left: 20px;
  font-weight: bold;
}

ol li {
  margin-bottom: 10px;
}

ol li a,
ol li u {
  color: #333;
  text-decoration: none;
}

ol li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

@keyframes animationName {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.animate {
  animation-name: animationName;
  animation-duration: 4s;
  /* 기타 애니메이션 관련 속성 설정 */
}

/* style.css */

#wordcloud {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}


