		  body{
		    margin: 0;
		    background-color: black;
		    color: white;
		  }
		  a{
		    color: white;
		    text-decoration: none;
		  }
		  
		  h1{
		    font-size: 45px;
		    text-align: center;
		    border: 5px  solid;
		    padding: 10px;
		    margin: 10px auto;
		    width: 250px;
		    
		    }

		  ol{
		    padding: 20px;
		  }
		  
		  #left ol{
		    width: 50px;
		    margin: 0;
		    padding: 10px 20px 10px 20px;
		  }
		  
		  #grid{
		    display: grid;
		    grid-template-columns: 1fr 7fr;
		  }
		  #right{
		    padding-left: 30px;
		    border-left: 5px white solid;
		  }
		  #left{
		    padding-left: 30px;
		  }

		  @media(max-width: 500px){
		    #grid{
		      display: block;
		    }
		    #right, #left{
		      border-left: none;
		      padding: 20px 20px 0 20px;
		    }
		    #right h2{
		      border-top: 5px white solid;
		      margin: 0;
		      padding-top: 20px;
		    }
		    #title{
		      border: none;
		    }
		  }
